<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CodeGenerationWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CodeGenerationWinForm.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MostRecentTabUsed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="checkBoxAutoCheckTypes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkBoxCustomRange" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="textBoxCustomFrom" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="textBoxCustomTo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="textBoxCustoAttribute" serializeAs="String">
                <value>[TestMethod]</value>
            </setting>
            <setting name="textBoxCustPublic" serializeAs="String">
                <value>Public</value>
            </setting>
            <setting name="textBoxCustoVoid" serializeAs="String">
                <value>void</value>
            </setting>
            <setting name="textBoxCustoTestMethod" serializeAs="String">
                <value>TestMethod_</value>
            </setting>
            <setting name="textBoxCustoMethodName" serializeAs="String">
                <value>Method_Name_Returned_True_or_False_on_Condition</value>
            </setting>
            <setting name="textBoxCustoExpectedCosntant" serializeAs="String">
                <value>const</value>
            </setting>
            <setting name="comboBoxCustoExpectedType" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxCustoExpectedWord" serializeAs="String">
                <value>expected</value>
            </setting>
            <setting name="textBoxCustoExpectedEqualSign" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="textBoxCustoExpectedValue" serializeAs="String">
                <value>true</value>
            </setting>
            <setting name="textBoxCustoConstantSource" serializeAs="String">
                <value>const</value>
            </setting>
            <setting name="comboBoxCustoSourceType" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxCustoSourceWord" serializeAs="String">
                <value>source</value>
            </setting>
            <setting name="textBoxCustoSourceEqualSign" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="textBoxCustoSourceValue" serializeAs="String">
                <value>"laval"</value>
            </setting>
            <setting name="comboBoxCustoResultReturnedType" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxCustoResultWord" serializeAs="String">
                <value>result</value>
            </setting>
            <setting name="textBoxCustoResultEqualSign" serializeAs="String">
                <value>=</value>
            </setting>
            <setting name="comboBoxCustoResultFunctionClass" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxcustoResultFunctionName" serializeAs="String">
                <value>.IsPalindrome</value>
            </setting>
            <setting name="textBoxCustoResultSourceWord" serializeAs="String">
                <value>(source);</value>
            </setting>
            <setting name="textBoxCustoAssertWord" serializeAs="String">
                <value>Assert.</value>
            </setting>
            <setting name="comboBoxCustoAssertMethod" serializeAs="String">
                <value />
            </setting>
            <setting name="textBoxCustoAssertOpenParenthesis" serializeAs="String">
                <value>(</value>
            </setting>
            <setting name="textBoxCustoAssertResultWord" serializeAs="String">
                <value>result</value>
            </setting>
            <setting name="textBoxCustoAssertComma" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="textBoxCustoAssertExpectedWord" serializeAs="String">
                <value>expected</value>
            </setting>
            <setting name="textBoxCustoAssertClosingParenthesis" serializeAs="String">
                <value>);</value>
            </setting>
            <setting name="LanguageFileName" serializeAs="String">
                <value>Translations.xml</value>
            </setting>
            <setting name="LastLanguageUsed" serializeAs="String">
                <value>English</value>
            </setting>
        </CodeGenerationWinForm.Properties.Settings>
    </userSettings>
</configuration>